@model List<SRPAndDesignPatterns_V1.Models.Customer>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h1>Search Results</h1>
        <form asp-controller="Customer" asp-action="Export" method="post">
            <input type="hidden" name="criteria" value="@ViewBag.Criteria" />
            <input type="hidden" name="searchby" value="@ViewBag.SearchBy" />
            <input type="submit" value="Export" class="btn btn-sm btn-success pull-right" />
        </form>
       
        <table class="table table-bordered mt-2 pt-1" border="1" cellpadding="5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>

                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CustomerID</td>
                    <td>@item.CompanyName</td>
                    <td>@item.ContactName</td>
                    <td>@item.Country</td>
                </tr>
            }
        </table>

        <a class="btn btn-sm btn-primary pull-right" asp-controller="Customer" asp-action="Index">Back to search</a>

    </div>

</div>

